.banner-img {
  height: 500px;
  width: 70vw;
  margin: auto;
}
.banner-img img {
  width: 100%;
  height: 500px;
  margin-top: 10px;
}
@media (max-width: 960px) {
  .banner-img img {
    height: auto;
    width: 100%;
  }
  .banner-img {
    height: auto;
    width: 100%;
  }
}
